
modules = ["android"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Build Android APK"

[[workflows.workflow]]
name = "Build Android APK"
author = 45718520
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew assembleDebug"

[[workflows.workflow]]
name = "Setup Android Environment"
author = 45718520
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x gradlew"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew wrapper --gradle-version=8.0"
